.email-form {
    min-width: 311px;
    position: relative;
    margin-top: 32px;


    &__input {
        width: 100%;
        min-height: 48px;
        border: 1px solid $color-pink-400;
        border-radius: 28px;
        padding: 11px 0 9px 24px;

    }

    &__button {
        position: absolute;
        top: 0;
        right: 0;
        background: $gradient-pink;
        min-width: 64px;
        min-height: 48px;
        border-radius: 28px;
        display: grid;
        place-items: center;
        box-shadow: 0px 15px 20px 0px rgba(198, 110, 110, 0.25);

    }

    .error-message {
        display: none;
        font-size: $font-size-sm;
        line-height: 13px;
        position: absolute;
        color: #F96464;
        font-weight: $font-weight-regular;
        width: 100%;
        top: calc(48px + 8px);
        left: 24px;
        text-align: left;
    }

    @media (min-width: 1024px) {
        width: 100%;
        margin-top: 8px;

        &__input {
            min-height: 56px;
            font-size: $font-size-base;
            padding: 15px 0 13px 32px;
        }

        &__button {
            min-width: 100px;
            height: 100%;
        }

        .error-message {
            line-height: 28px;
            top: calc(56px + 4px);
            left: 32px;
        }
    }
}

.email-form--error .email-form__input {
    border: 2px solid #F96464 !important;
    background: url('../../images/icon-error.svg') no-repeat;
    background-position: right 72px center;

    @media (min-width: 1024px) {
        background-position: right 108px center;
    }
}