
// fonts
$font-primary: 'Josefin Sans', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;

// font-size
$font-size-base: 16px;
$font-size-lg: 64px;
$font-size-sm: 13px;

$font-size-base-mobile: 14px;
$font-size-lg-mobile: 40px;

//colors

$color-gray-500: #423A3A;
$color-pink-400: #CE9898;
$color-red-500: #EE8B8B;
$color-white: #FFFFFF;
$gradient-pink: linear-gradient(135.00deg, rgb(248, 191, 191) 39.615%,rgb(238, 139, 139) 139.615%);
$gradient-white: linear-gradient(221.63deg, rgb(255, 241, 241) 1.93%,rgb(255, 255, 255) 95.778%);
